## Node / JS
node_modules/
vendor/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Build artifacts
dist/
build/

## OS / Editor
.DS_Store
Thumbs.db
Desktop.ini
.vscode/

## Logs
*.log

## Environment
.env
.env.*

## Python
__pycache__/
*.pyc
api/data/
